<div class="ContentSideSections Implementation">
    <md-card *ngIf="!sub">
        <md-card-title>Search SupTable with search criterias</md-card-title>
        <md-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #supTableForm="ngForm">
        </div>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="search(dt)"><md-icon>search</md-icon>Search</button>
        </md-card-actions>
    </md-card>

    <md-card>
    <md-card-content>
    <p>The list of results below is server-side paginated...</p>

    <!--<p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="iv1" header="Iv1" sortable="true">
        </p-column>
        <p-column field="iv2" header="Iv2" sortable="true">
        </p-column>
        <p-column field="iv3" header="Iv3" sortable="true">
        </p-column>
        <p-column field="timestamp" header="Timestamp" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-supTable="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(supTable)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>-->
    <table [mfData]="currentPage.content" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
    <thead>
        <tr>
            <th>
                 
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data; let ndx = index">
              
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="addNew()"><md-icon>add</md-icon>Add</button>
    </md-card-actions>
    </md-card>
</div>
