.sidebar {
    width: 50px;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    background-color: #282828;
    transition: 0.6s all ease;
    padding-top: 20px;
}

.sidebar.expanded {
    width: 200px;
}

.sidebar-hover-elem {
    width: 4px;
    background: #00abff;
    position: fixed;
    top: -150px;
    left: 196px;
    transition: all 0.5s ease;
    transition-property: top, height;
    height: 35px;
    display: block;
}